{% extends '_base.html' %}
{% load tz %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'lists' %}">Todo lists</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ list.name }}</li>
{% endblock breadcrumbs %}

{% block content %}
<h1>{{ list.name }}</h1>

<p>{{ list.description }}</p>

<a class="btn btn-primary" href="{% url 'new-todo' list_id=list.id %}">
  <i class="bi-plus-circle" aria-hidden="true"></i>
  New todo
</a>

<table class="table">
  <thead>
    <tr>
      <th>Todo</th><th>Description</th>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <td>
        {{ todo.title }}
      </td>
      <td>
        {{ todo.description|linebreaks }}
        <small class="text-secondary">
          added by {{ todo.creator }}
          on <span title="{{ todo.created_at|localtime }}">{{ todo.created_at|localtime|date }}</span>
        </small>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="2">no items yet: you should create one!</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
