{% extends '_base.html' %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'lists' %}">Todo lists</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ list.name }}</li>
{% endblock breadcrumbs %}

{% block content %}
<h1>{{ list.name }}</h1>

<p>{{ list.description }}</p>

<a class="btn btn-primary" href="{% url 'new-todo' list_id=list.id %}">
  <i class="bi-plus-circle" aria-hidden="true"></i>
  New todo
</a>

<table class="table mb-4">
  <thead>
    <tr>
      <th>Todo</th>
      <th>Description</th>
      <th></th>  <!-- voting -->
      <th></th>  <!-- actions -->
  </thead>
  <tbody>
    {% for todo in incomplete_todos %}
      {% include 'partials/todo-row.html' %}
    {% empty %}
    <tr><td colspan="2">no items yet: you should create one!</td></tr>
    {% endfor %}
  </tbody>
</table>

{% if completed_todos %}
  <table class="table table-secondary mb-4">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Description</th>
        <th></th>  <!-- voting -->
        <th></th>  <!-- actions -->
    </thead>
    <tbody>
      {% for todo in completed_todos %}
        {% include 'partials/todo-row.html' %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock content %}
