{% extends '_base.html' %}
{% load tz %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'lists' %}">Todo lists</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ list.name }}</li>
{% endblock breadcrumbs %}

{% block content %}
<h1>{{ list.name }}</h1>

<p>{{ list.description }}</p>

<a class="btn btn-primary" href="{% url 'new-todo' list_id=list.id %}">
  <i class="bi-plus-circle" aria-hidden="true"></i>
  New todo
</a>

<table class="table">
  <thead>
    <tr>
      <th>Todo</th><th>Description</th><th></th>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <td>
        {{ todo.title }}
      </td>
      <td>
        {{ todo.description|linebreaks }}
        <small class="text-secondary">
          added by {{ todo.creator }}
          on <span title="{{ todo.created_at|localtime }}">{{ todo.created_at|localtime|date }}</span>
        </small>
      </td>
      <td>
        {% if request.user.username in todo.upvotes %}
          <button class="btn btn-success" title="Upvoted">
            <i class="bi-hand-thumbs-up" role="img" aria-label="Upvoted"></i>
            {{ todo.upvotes|length }}
          </button>
        {% else %}
          <form id="upvote-{{ todo.id }}"
            method="post" action="{% url 'upvote' todo_id=todo.id %}"
          >
            {% csrf_token %}
            <input type="hidden" name="todo_id" value="{{ todo.id }}">
            <button type="submit" class="btn btn-outline-success" title="Upvote">
              <i class="bi-hand-thumbs-up" role="img" aria-label="Upvote"></i>
              {{ todo.upvotes|length }}
            </button>
          </form>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="2">no items yet: you should create one!</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
