{% extends '_base.html' %}

{% block content %}
<h1>Todo lists</h1>

<a class="btn btn-primary" href="{% url 'new-list' %}">
  New list
</a>

<table class="table">
  <thead>
    <tr>
      <th>Name</th><th>Description</th>
    </tr>
  </thead>
  <tbody id="listsTable">
    {% for list in todo_lists %}
    <tr>
      <td>{{ list.name }}</td><td>{{ list.description }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="2">no lists: you should create one!</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
