{% load tz %}

<tr>
  <td>
    {{ todo.title }}
  </td>
  <td>
    {{ todo.description|linebreaks }}
    <small class="text-secondary">
      added by {{ todo.creator }}
      on <span title="{{ todo.created_at|localtime }}">{{ todo.created_at|localtime|date }}</span>
    </small>
  </td>
  <td>
    {% if request.user.username in todo.upvotes %}
      <form id="remove-upvote-{{ todo.id }}"
        method="post" action="{% url 'remove-upvote' todo_id=todo.id %}"
      >
        {% csrf_token %}
        <input type="hidden" name="todo_id" value="{{ todo.id }}">
        <button type="submit" class="btn btn-success" title="Remove upvote">
          <i class="bi-hand-thumbs-up" role="img" aria-label="Upvote"></i>
          {{ todo.upvotes|length }}
        </button>
      </form>
    {% else %}
      <form id="upvote-{{ todo.id }}"
        method="post" action="{% url 'upvote' todo_id=todo.id %}"
      >
        {% csrf_token %}
        <input type="hidden" name="todo_id" value="{{ todo.id }}">
        <button type="submit" class="btn btn-outline-success" title="Upvote">
          <i class="bi-hand-thumbs-up" role="img" aria-label="Upvote"></i>
          {{ todo.upvotes|length }}
        </button>
      </form>
    {% endif %}
  </td>
  <td>
    {% if not todo.done_at %}
      <form id="complete-{{ todo.id }}"
        method="post" action="{% url 'complete' todo_id=todo.id %}"
        onsubmit="return confirm('Complete this todo?');"
      >
        {% csrf_token %}
        <input type="hidden" name="todo_id" value="{{ todo.id }}">
        <button type="submit" class="btn btn-outline-primary" title="Mark done">
          <i class="bi-check2-square" role="img" aria-label="Mark done"></i>
        </button>
      </form>
    {% endif %}
  </td>
</tr>
